In [92]:
import numpy as np
import pandas as pd
import datasets
# import tasks
from MedCode import CodeMapping
from importlib import reload
reload(datasets)
reload(tasks)
print ()

# get MIMIC_III dataset

In [93]:
# choose a target code: ATC4, NDC, RXCUI
target_code = 'ATC4'
tool = CodeMapping('RxNorm', target_code)
tool.load_mapping()

# load dataset by passing arguments
mimic_iii = datasets.MIMIC_III(
    table_names=['med', 'prod', 'diag'], 
    code_map=eval("tool.RxNorm_to_{}".format(target_code)), 
    target_code=target_code
)

df = mimic_iii.clean_data

/home/chaoqiy2/miniconda3/envs/chaoqi/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

loaded the med table!
loaded the prod table!
loaded the diag table!
generated .pat_to_visit!
generated .visit_dict!
generated .visit_df!
generated encoded .visit_df!
generated code mappings: .maps!
generated cleaned data for ML models .clean_data!

In [94]:
df

,medATC4_encoded,diag_encoded,prod_encoded
0,"0,1","0,1,2",0
1,"2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,...","3,4,5,6,7,8,9,10,11","1,2,3"
2,"2,28,3,4,6,29,30,9,31,10,32,11,33,34,12,35,36,...","12,13,14,15,16,17,18,19","4,5,6,7,8"
3,"45,0,46,1,47,48","0,20,21,2,22,1","9,10,0"
4,"49,2,29,8,30,31,10,50,51,33,13,36,15,52,19,53,...","23,24,25,26,27,28","11,12"
...,...,...,...
50211,"49,2,28,55,3,4,8,30,9,31,10,50,32,11,78,35,13,...","124,468,160,1351,87,298,93,97,53,17,108,1655,1927","11,15,1,46,12"
50212,"49,2,28,55,3,4,75,29,8,30,9,31,10,100,69,51,32...","1202,124,540,26,93,1181,404,3209,957,2394,25,1...","1725,25,22,79,448,365,108"
50213,"74,2,6,29,86,31,91,100,69,32,57,33,88,35,58,14...","876,930,822,151,26,935,388,108,28,282,4065,300","336,107"
50214,"49,3,4,30,9,31,10,91,51,32,11,33,77,78,36,133,...","568,364,455,151,101,44,38,806,309,53,102,25,87...","335,435,1955"
50215,"2,3,75,29,8,30,9,31,10,11,33,58,14,36,80,16,13...","4719,462,28,44,175","634,97,99,757,100"